GetAggregatedRequestExemptionStatuses-v1-schemas/src/main/resources/schemas/financial_patientfees_exemption/engagementindex/riv_financial_patientfees_exemption_ei_update_constraints.xml

<?xml version="1.0" encoding="utf-8"?>
<!--
Licensed to the Apache Software Foundation (ASF) under one
or more contributor license agreements. See the NOTICE file
distributed with this work for additional information
regarding copyright ownership. Sveriges Kommuner och Landsting licenses this file
to you under the Apache License, Version 2.0 (the
        "License"); you may not use this file except in compliance
with the License. You may obtain a copy of the License at

http://www.apache.org/licenses/LICENSE-2.0

Unless required by applicable law or agreed to in writing,
software distributed under the License is distributed on an
"AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
KIND, either express or implied. See the License for the
specific language governing permissions and limitations
under the License.
-->
<iso:schema
        xmlns="http://purl.oclc.org/dsdl/schematron"
        xmlns:iso="http://purl.oclc.org/dsdl/schematron"
        queryBinding='xslt2'
        schemaVersion='ISO19757-3'>

  <iso:title>Validation for Update</iso:title>
  <iso:ns prefix='urn' uri='urn:riv:itintegration:registry:1'/>
  <iso:ns prefix='urn1' uri='urn:riv:itintegration:engagementindex:UpdateResponder:1'/>
  <iso:ns prefix='urn2' uri='urn:riv:itintegration:engagementindex:1'/>

  <!-- Rules for Requests with domain riv:financial:patientfees:exemption -->

  <iso:pattern id="Domain riv:financial:patientfees:exemption">
    <iso:rule context="urn2:engagement[urn2:serviceDomain='riv:financial:patientfees:exemption']">
      <iso:assert test="urn2:categorization='fpe-es'">categorization value for riv:financial:patientfees:exemption must be one of: 'fpe-es'</iso:assert>
      <iso:assert test="urn2:logicalAddress=urn2:sourceSystem">logicalAddress must equal sourceSystem for riv:financial:patientfees:exemption</iso:assert>
      <iso:assert test="urn2:businessObjectInstanceIdentifier='NA'">businessObjectInstanceIdentifier must be 'NA' for riv:financial:patientfees:exemption</iso:assert>
      <iso:assert test="urn2:clinicalProcessInterestId='NA'">clinicalProcessInterestId must be 'NA' for riv:financial:patientfees:exemption</iso:assert>
    </iso:rule>
  </iso:pattern>


</iso:schema>
